@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#navbar {
    padding: 3vw;
}
#navbar header {
    font-size: 1.5rem;
    margin-bottom: 15px;
    display: inline-block;
}
#navbar header::after{
    content: '';
    display: block;
    border-top: 1px solid black;
    width: 105%;
    margin-top: 2%;
    margin-bottom: 5%;
}
#navbar ul {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    gap: .5em;

    padding: 0;
    padding-bottom: 1.2em;

    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
}
.snapping {
}
#navbar ul > * {
    scroll-snap-align: start;
}
#navbar li {
    list-style-type: none;

    border: 1px solid black;
    border-radius: .45em;

    padding: .5em .05em;
    text-align: center;
}