@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*:not(code) {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}


#navbar {
    padding: 3vw;
}
#navbar header {
    font-size: 1.5rem;
    margin-bottom: 15px;
    display: inline-block;
}
#navbar header::after{
    content: '';
    display: block;
    border-top: 1px solid black;
    width: 105%;
    margin-top: 2%;
    /* margin-bottom: 5%; */
}
#navbar ul {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30%;
    gap: .5em;

    padding: 1em;
    padding-bottom: 1.2em;
    box-shadow: 0 0 7px black;

    overflow-x: auto;
    overscroll-behavior: contain;
    scroll-snap-type: inline mandatory;
}
#navbar ul > * {
    scroll-snap-align: center;
}
#navbar li {
    list-style-type: none;

    border: 1px solid black;
    border-radius: .45em;

    padding: .5em .05em;
    text-align: center;
    transition: 200ms;
}
#navbar li > a {
    text-decoration: none;
    color: black;
}
#navbar li:hover {
    background-color: black;
    transform: scale(125%);
}
#navbar li > a:hover {
    color: white;
}


 main {
    margin-top: 20px;
    padding: 1em;
}
.main-section {
    margin-bottom: 2.5em;
}

.main-section > header {
    display: inline-block;
    font-size: 2rem;
    font-weight: 550;
    margin-bottom: .5em;
    /* transition: 10ms; */
}
.main-section > header::after {
    content: '';
    display: block;
    width: 102%;
    border-top: 2px solid black;
}
/* .main-section > header:hover {
    border-bottom: 2px solid black;
} */

img {
    max-width: 100%;
}
section > p, section>ul, section>ol{
    margin-left: 2em;
}
pre {
    background-color: hsl(0, 0%, 97%);
}
p {
    margin-top: 15px;
    margin-bottom: 20px;
}
p > code {
    background-color: hsl(0, 0%, 95%);
}


#specificity h2 {
    text-decoration: underline;
}

#animation h2{
    font-size: 1.3rem;
    font-style: italic;
    /* text-align: center; */
    /* margin-bottom: 20px; */
}
#animation h3 {
    margin-top: 40px;
    text-decoration: underline;
}
#animation ul {
    margin: 20px auto;
}


@media (min-width: 40em) {
    #navbar {
        padding: 0;
        border-right: 1px solid black;
        width: 27vw;
        
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    #navbar header {
        padding-left: 2vw;
        padding-top: 2vw;
    }
    #navbar ul {
        grid-auto-flow: row;
        grid-auto-columns: 100%;
        box-shadow: none;
        
        height: 100%;
        padding-top: 0;
        overflow-x: hidden;
        scroll-snap-type: block mandatory;
    }
    #navbar li {
        /* padding: 1em .05em; */
        padding: 0;
        transition: 200ms;
        /* min-height: 6vh; */
    }
    #navbar li > a {
        display: block;
        height: 100%;
        
        transform: translateY(20%);
    }
    #navbar li:hover {
        transform: translateX(10%);
        background-color: transparent;
    }
    #navbar li > a:hover {
        color: black;
    }
    
    
    main {
        margin-left: 27vw;
    }
}